.index-container {
  text-align: center;
  input {
    padding: 10rpx;
    border: 1rpx solid #ccc;
    width: 90%;
    margin: 20rpx auto;
  }
  .btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    .item {
      width: 80rpx;
      height: 80rpx;
      margin: 20rpx;
      line-height: 80rpx;
      padding: 0;
    }
  }
  .game-container{
    margin-top: 60rpx;
  }

  .next{
    width: 30%;
    text-align: center;
    margin-top: 100rpx;
  }
}
